<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Mount Point
        link(rel="stylesheet", href="../../src/amethyst-style.styl")
        link(href="https://fonts.googleapis.com/css?family=Arvo|Karla:400,400i,700,700i" rel="stylesheet")
    body
        a(href="light.pug") Light Theme <br>
        a(href="dark.pug") Dark Theme